<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvel</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'estilos.css' %}">

</head>
<body>
    <header>
        <a class="p2" href="/{{ index }}">Ir  a  Inicio</a>
        <p class="p2">Contactanos</p>
        <p class="p1">Marvel</p>
        <p class="p2">Personajes</p>
        <a class="p2" href="/crear_pagina">Crear presonaje</a>
    </header>

    <div class="container">

            {% for personaje in personajes %}
                <div class="container-izquierda">
                    <img src="{{ personaje.img }}" alt="">
                    <div class="container-pleft">
                        <p>{{ personaje.nombre }}</p>
                        <p>Poderes: {{ personaje.poderes }}</p>
                        <p>Lugar de origen: {{ personaje.origen }}</p>
                    </div>
                    <a href="/actualizar/{{ personaje.id }}">Modificar</a>
                    <a href="/eliminar/{{ personaje.id }}">Eliminar</a>
                </div>

            {% endfor %}


    </div>

</body>
